.app-img {
  background-repeat: no-repeat;
}

.app-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-page {
  width: 1382px;
  margin: 0 auto;
}

.app-full-img {
  width: 100%;
  height: 100%;
}

.app-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  .center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
  }
}

/* chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* 火狐浏览器 */
input[type="number"] {
  -moz-appearance: textfield;
}

// 字号类
.fs-12 {
  font-size: .12rem;
}

.fs-13 {
  font-size: .13rem;
}

.fs-14 {
  font-size: .14rem;
}

.fs-15 {
  font-size: .15rem;
}

.fs-16 {
  font-size: .16rem;
}

.fs-17 {
  font-size: .17rem;
}

.fs-18 {
  font-size: .18rem;
}

.fs-20 {
  font-size: .2rem;
}

.fs-22 {
  font-size: .22rem;
}

.fs-24 {
  font-size: .24rem;
}

.fs-25 {
  font-size: .25rem;
}

.fs-28 {
  font-size: .28rem;
}

.fs-30 {
  font-size: .3rem;
}

.fs-38 {
  font-size: .38rem;
}
.fs-40 {
  font-size: .4rem;
}

/* 覆盖nprogress样式 */
#nprogress .bar {
  background: #0078FF;
}

#nprogress .peg {
  box-shadow: 0 0 10px #0078FF, 0 0 5px #0078FF;
}

#nprogress .spinner-icon {
  border-top-color: #0078FF;
  border-left-color: #0078FF;
}

.el-pagination__total,
.el-pagination__jump {
  color: #919191;
}

.el-pagination.is-background .el-pager li:not(.is-disabled).is-active {
  background: #0B78FE;
}

.el-cascader-node .el-checkbox {
  margin-right: 0;
}

.el-image .image-slot {
  background-color: #f5f7fa;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .el-icon {
    color: #b7b7b7;
    font-size: 20px;
  }
}

.app-round {
  border-radius: 50%;
}

.el-popover.el-popper {
  padding: 0;
  min-width: initial;
}

/* 隐藏滚动条 */
.app-hide-bar::-webkit-scrollbar {
  display: none
}

/* 颜色 */
.color-595959 {
  color: #595959;
}